<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
        <menu>
            <add
                id="MM_Light::all"
                title="MM Light"
                translate="title"
                module="MM_Light"
                sortOrder="20"
                dependsOnModule="MM_Light"
                resource="Sysint_MagentoAcademy::all"
            />
            <add
                id="MM_Light::grid"
                title="MM Grid"
                translate="title"
                module="MM_Light"
                sortOrder="10"
                parent="MM_Light::all"
                action="mm_light/product/listing"
                resource="MM_Light::grid"
            />
        </menu>
</config>
